
<%- include('../includes/head') %>

<%- include('../includes/nav') %>

        <h1 class="main__title1">Ajouter un livre</h1>

        <h3 class="main__title2">Remplir le formulaire</h3>

        <form action="/admin/admin-books" method="post" class="form-book">
            <div class="">
                <label for="title" class="form-control__label">Titre</label>
                <input type="text" name="title" id="title" class="form-control__input" />
            </div>
            <div class="">
                <label for="image" class="form-control__label">Image</label>
                <input type="text" name="image" id="image" class="form-control__input" />
            </div>
            <div class="">
                <label for="price" class="form-control__label">prix</label>
                <input type="number" name="price" id="price" class="form-control__input" step="0.01" />
            </div>
            <div class="">
                <label for="descr" class="form-control__label">Description</label>
                <textarea type="text" name="descr" id="descr" class="form-control__input"></textarea>
            </div>
            
            <button type="submit" class="form-book__button">Ajouter</button>
        </form>
    </main>
    

<%- include('../includes/footer') %>
